.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #282a35;
  color: #ffff;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header-container .links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-container .links li {
  padding-left: 30px;
}
.header-container .links li .Link {
  text-decoration: none;
  color: #ffff;
}
.logo {
  height: 40px;
  width: 40px;
  background-size: contain;
  border-radius: 50%;
}
.cart-item-top {
  position: relative;
}
.item-length {
  position: absolute;
  right: -5px;
  top: -6px;
  background-color: green;
  border-radius: 50%;
  width: 20px;
  text-align: center;
}
